<!DOCTYPE html>
<html>
<head>
	<title>CSRF Sandbox Microservice</title>
</head>
<body>
	<h1>CSRF Sandbox Microservice</h1>

	<form action="/" method="post">
		<h3>Form without csrf token</h3>

		<label>Data:</label>
		<input type="text" name="data">

		<input type="submit" value="submit">
	</form>

	<form action="/" method="post">
		<h3>Form WITH csrf token</h3>

		<input type="hidden" name="_csrf" value="<%= csrfToken %>">

		<label>Data:</label>
		<input type="text" name="data">

		<input type="submit" value="submit">
	</form>

	<form action="/open" method="post">
		<h3>Form that posts to the OPEN route</h3>

		<input type="hidden" name="_csrf" value="<%= csrfToken %>">

		<label>Data:</label>
		<input type="text" name="data">

		<input type="submit" value="submit">
	</form>		
</body>
</html>